.post {
    display: flex;
    justify-content:flex-end ;
    width:94%;
    margin: 20px auto;
}

.input_post {
    width: 100%;
    line-height: 25px;
    font-size: 20px;
}

.send_post {
    max-width: 100px;
    min-width: 60px;
    width: 100%;
    margin-left: 20px;
}