.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header  header"
  "nav  content"
  ;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: cadetblue;
}

.header img {
  height: 200px;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-flow: wrap column;
  background-color: darkcyan;
}

.main-content {
  grid-area: content;
  background-color: aquamarine;
}