.app-wrapper {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header  header"
  "nav  content"
  ;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.example {
  color: #072644;
  color: #177383;
  color: #41C9B2;
  color: #F4E7A4;
  color: #F05344;
}






